
body {
    font-family: 'Nunito', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: normal;
}

h1 {
    font-size: 6vw;
}

canvas {
    height: 100%;
    width: 100%;
}

.head-section {
    min-height: 100vh;
    /* background-color: darkgreen; */
    display:flex;
    align-items: center;
    position:relative;
}

.name-header {
    z-index: 9999;
}

.name-header:hover {
    cursor: default;
}

.drawing-canvas, .name-header {
    position: absolute;
}

.main {
    padding-left: 20px;
    padding-right: 20px;
}

.head-link {
    text-decoration: none;
    transition: font-weight 0.5s;
}

.head-link:link {
    color: white;
}

.head-link:visited {
    color: white;
}

.head-link:hover {
    text-shadow:
    0px 0px 0 #ffffff,
    0px 0px 0 #ffffff,
    0px 0px 0 #ffffff,
    0px 0px 0 #ffffff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}